<section ng-controller="editarPerfilController">
    <div class="col-md-8 postBackground">
        <div class="row">
            <div class="profile-content">
                <center>
                    <div class="col-md-12">
                        <img class="center-block imgPost2 img-responsive changecursor" ng-src="/img/usuarios/{{usuario.avatar}}" id="editarPImagen1"
                            ng-click="imageClick()" />
                        <input class="hidden" type="file" name="editarPImagen2" id="editarPImagen" class="editarPImagen" ng-model="picFile" ngf-select="onFileSelect($files)"/>                        
                        <label for="editarPImagen">Choose a file</label>
                    </div>
                    <div class="col-md-12 homeText">
                        <form class="editarText">
                            <label class="lblEditarP">Nombre:</label>
                            <input type="text" id="editarPNombre" class="editarPNombre" value="{{ usuario.name }}" />
                            <br>
                            <label class="lblEditarP">Correo electrónico:</label>
                            <input type="text" id="editarPCorreo" class="editarPCorreo" value="{{ usuario.email }}" />
                            <br>
                            <label class="lblEditarP">Fecha de nacimiento:</label>
                            <input type="date" id="editarPDate" class="editarPDate" value="{{ usuario.birthdate }}" />
                            <br>
                            <label class="lblEditarP">Género:</label>
                            <div ng-if="usuario.gender == 1">
                                <select form="sign-up-form" class="form-control" id="editarPGenero">
                                    <option value="0" disabled hidden>Género</option>
                                    <option value="1" selected class="form-control">Masculino</option>
                                    <option value="2" class="form-control">Femenino</option>
                                </select>
                            </div>
                            <div ng-if="usuario.gender == 2">
                                <select form="sign-up-form" class="form-control" id="editarPGenero">
                                    <option value="0" disabled hidden>Género</option>
                                    <option value="1" class="form-control">Masculino</option>
                                    <option value="2" selected class="form-control">Femenino</option>
                                </select>
                            </div>
                            <a href="#home"><input type="button" class="editarButtonsCancelar" value="Cancelar"/></a>
                            <input type="submit" class="editarButtonsGuardarCambios" value="Guardar cambios" ng-click="submitClick(picFile)" />
                        </form>
                    </div>
                </center>
            </div>
        </div>
    </div>
</section>