<section>
    <div class="key-features-inner">
        <section id="key-features">
            <div class="container text-center">
                <div class="row indexTitle">
                    <h1 class="title-small wow pulse">¿Qué es Foodylicious?</h1>
                    <h2 class="subtitle-small wow fadeInLeft" data-wow-delay=".2s">
                        Una página dedicada a disfrutar deliciosas recetas de comida. 
                        <br> 
                        Podrás publicar, dar me gusta y comentar diversas recetas de todo el mundo.
                    </h2>

                    <div class="indexcentro">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay=".2s">
                            <div class="feature-item">
                                <i class="fa fa-pencil-square-o fa-4x"></i>
                                <h3>Publica</h3>
                                <p>Podrás publicar tus recetas personales, desde la más tradicional hasta la más creativa.</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay=".4s">
                            <div class="feature-item">
                                <i class="fa fa-globe fa-4x"></i>
                                <h3>Descubre</h3>
                                <p>Descubrirás mil y un nuevas recetas a probar. Y mejor aún, ¡de alrededor del mundo!</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay=".6s">
                            <div class="feature-item">
                                <i class="fa fa-smile-o fa-4x"></i>
                                <h3>Disfruta</h3>
                                <p>Disfrutarás el probar gran variedad de recetas que terminarán en deliciosos platillos.</p>
                            </div>
                        </div>

                    </div>
                    <div col-md-12 text-center>
                        <a class="features-uneteya btn btn-border btn-lg   wow fadeInUp" data-wow-delay=".8s" href="sign-up.html">¡Únete ya!</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>