<section ng-controller="postController">
    <div class="col-md-8 ">
        <div ng-include="'partial/post.html'">
        </div>
        
        <div class="row">
            <div class="profile-content">
                <div class="col-md-12">
                    <a href="#"><i class="fa fa-heart-o fa-2x"></i></a>


                </div>
                <div class="col-md-6">
                    <img class="homeImgPost img-responsive" src="assets/img/posts/food2.jpg" />
                </div>

                <div class="col-md-6 homeText">
                    <p class="homeTitle">Sandwich de pavo</p>
                    <hr class="separadorPosts">
                            <img class="homeUsersIcon img-responsive" src="assets/img/users/otter.jpg"/> 
                                <a href="verotroperfil.html"  class="homeUsersname">Alan Martínez</a>
                    <p class="homeDescription">
                        Un sandwich algo diferente. Hecho con pan integral, jamón y pechuga de pavo, queso amarillo derretido  
                        y tomate.
                    </p>
                </div>                        

                <div class="col-md-12 homeDatePost">
                    <p class="">Fecha 4/13/2017</p>
                </div>

                <div class="col-md-12 homeMoreInformation">  
                    <a href="#" class="homeMoreInformationLink">Más información</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="profile-content">
                <div class="col-md-12">
                    <a href="#"><i class="fa fa-heart-o fa-2x"></i></a>


                </div>
                <div class="col-md-6">
                    <img class="homeImgPost img-responsive" src="assets/img/posts/food3.jpg" />
                </div>

                <div class="col-md-6 homeText">
                    <p class="homeTitle">Tortitas de papa y queso</p>
                    <hr class="separadorPosts">
                            <img class="homeUsersIcon img-responsive" src="assets/img/users/kitten.jpg"/> 
                            <a href="miperfil.html"  class="homeUsersname">Carolina Avelar</a>
                    <p class="homeDescription">
                        Deliciosas tortitas empanizadas, rellenas de papa y queso, así como también especias que 
                    le dan un sabor único.
                    </p>
                </div>                        

                <div class="col-md-12 homeDatePost">
                    <p class="">Fecha 4/13/2017</p>
                </div>

                <div class="col-md-12 homeMoreInformation">  
                    <a href="post.html" class="homeMoreInformationLink">Más información</a>
                    <span class="spanSeparador">|</span>
                    <a href="editarpost.html" class="editarPost">Editar</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="profile-content">
                <div class="col-md-12">
                    <a href="#"><i class="fa fa-heart-o fa-2x"></i></a>


                </div>
                <div class="col-md-6">
                    <img class="homeImgPost img-responsive" src="assets/img/posts/food1.jpg" />
                </div>

                <div class="col-md-6 homeText">
                    <p class="homeTitle">Pollo agridulce con especias</p>
                    <hr class="separadorPosts">
                            <img class="homeUsersIcon img-responsive" src="assets/img/users/puppy.jpg"/> 
                            <a href="#"  class="homeUsersname">Marco Cantú</a>
                    <p class="homeDescription">
                        Tiras o trozos de pollo de carne blanca rebozadas y fritas. 
                     Suele servirse con salsa agridulce, a veces acompañado de piña, pimiento verde o cereza.  
                    </p>
                </div>                        

                <div class="col-md-12 homeDatePost">
                    <p class="">Fecha 4/13/2017</p>
                </div>

                <div class="col-md-12 homeMoreInformation">  
                    <a href="#" class="homeMoreInformationLink">Más información</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="profile-content">
                <div class="col-md-12">
                    <a href="#"><i class="fa fa-heart-o fa-2x"></i></a>


                </div>
                <div class="col-md-6">
                    <img class="homeImgPost img-responsive" src="assets/img/posts/food2.jpg" />
                </div>

                <div class="col-md-6 homeText">
                    <p class="homeTitle">Sandwich de pavo</p>
                    <hr class="separadorPosts">
                            <img class="homeUsersIcon img-responsive" src="assets/img/users/otter.jpg"/> 
                                <a href="verotroperfil.html"  class="homeUsersname">Alan Martínez</a>
                    <p class="homeDescription">
                        Un sandwich algo diferente. Hecho con pan integral, jamón y pechuga de pavo, queso amarillo derretido  
                        y tomate.
                    </p>
                </div>                        

                <div class="col-md-12 homeDatePost">
                    <p class="">Fecha 4/13/2017</p>
                </div>

                <div class="col-md-12 homeMoreInformation">  
                    <a href="#" class="homeMoreInformationLink">Más información</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="profile-content">
                <div class="col-md-12">
                    <a href="#"><i class="fa fa-heart-o fa-2x"></i></a>


                </div>
                <div class="col-md-6">
                    <img class="homeImgPost img-responsive" src="assets/img/posts/food2.jpg" />
                </div>

                <div class="col-md-6 homeText">
                    <p class="homeTitle">Sandwich de pavo</p>
                    <hr class="separadorPosts">
                            <img class="homeUsersIcon img-responsive" src="assets/img/users/otter.jpg"/> 
                                <a href="verotroperfil.html"  class="homeUsersname">Alan Martínez</a>
                    <p class="homeDescription">
                        Un sandwich algo diferente. Hecho con pan integral, jamón y pechuga de pavo, queso amarillo derretido  
                        y tomate.
                    </p>
                </div>                        

                <div class="col-md-12 homeDatePost">
                    <p class="">Fecha 4/13/2017</p>
                </div>

                <div class="col-md-12 homeMoreInformation">  
                    <a href="#" class="homeMoreInformationLink">Más información</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="profile-content">
                <div class="col-md-12">
                    <a href="#"><i class="fa fa-heart-o fa-2x"></i></a>


                </div>
                <div class="col-md-6">
                    <img class="homeImgPost img-responsive" src="assets/img/posts/food2.jpg" />
                </div>

                <div class="col-md-6 homeText">
                    <p class="homeTitle">Sandwich de pavo</p>
                    <hr class="separadorPosts">
                            <img class="homeUsersIcon img-responsive" src="assets/img/users/otter.jpg"/> 
                                <a href="verotroperfil.html"  class="homeUsersname">Alan Martínez</a>
                    <p class="homeDescription">
                        Un sandwich algo diferente. Hecho con pan integral, jamón y pechuga de pavo, queso amarillo derretido  
                        y tomate.
                    </p>
                </div>                        

                <div class="col-md-12 homeDatePost">
                    <p class="">Fecha 4/13/2017</p>
                </div>

                <div class="col-md-12 homeMoreInformation">  
                    <a href="#" class="homeMoreInformationLink">Más información</a>
                </div>
            </div>
        </div>
    </div>
    
     
   <!-- Footer -->
    <center>
    <footer class="container-fluid text-center">
    
        <a href="#" class="homePageButtons">Anterior</a>
        <a href="#" class="homePageButtons">Siguiente</a>
            
    
    <!-- <span class="glyphicon glyphicon-chevron-up"></span> -->  
    </footer>
    </center>
    
    <!-- End Footer -->
</section> 