<section ng-controller="postController">

    <row>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs divBotonNuevaReceta">
            <a href="#publicar-receta" id="botonNuevaReceta"><i class="fa fa-pencil-square-o"></i>  Publicar receta</a>
        </div>
    </row>

    <!-- Post -->
    <div class="col-md-8 ">
        <div ng-include="'partials/post.html'"></div>
    </div>
    <!-- End Post -->

    <!-- Footer -->
    <center>
        <footer class="container-fluid text-center">
            <a href="#" class="homePageButtons">Anterior</a>
            <a href="#" class="homePageButtons">Siguiente</a>
        </footer>
    </center>
    <!-- End Footer -->
</section>