<section id="sign-up-area" ng-controller="registerController">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-big-signup  animated fadeIn">¡Únete hoy!</h1>
                <h2 class="subtitle-big-signup">Disfruta de diversas recetas de alrededor del mundo</h2>
            </div>
            <div class="col-md-12 text-center">
                <form role="form" id="sign-up-form" class="sign-up-form" method="post">
                    <div class="form-group col-md-offset-4 col-md-4 col-md-offset-4 animated fadeInDown">
                        <input type="text" class="form-control" id="signupusername" placeholder="Usuario">
                    </div>
                    <div class="form-group col-md-offset-4 col-md-4 col-md-offset-4 animated fadeInDown">
                        <input type="email" class="form-control" id="signupemail" placeholder="Correo electrónico">
                    </div>
                    <div class="form-group col-md-offset-4 col-md-4 col-md-offset-4 animated fadeInDown">
                        <input type="password" class="form-control" id="signuppassword" placeholder="Contraseña (mínimo 6 dígitos)">
                    </div>
                    <div class="form-group col-md-offset-4 col-md-4 col-md-offset-4 animated fadeInDown">
                        <input type="text" placeholder="Fecha de nacimiento" class="form-control" onfocus="(this.type='date')" id="signup-label-birthdate">
                    </div>
                    <div class="form-group col-md-offset-4 col-md-4 col-md-offset-4 animated fadeInDown">
                        <select form="sign-up-form" class="form-control" id="signupgenero">
                            <option value="0" disabled selected hidden>Género</option>
                            <option value="1" class="form-control">Masculino</option>
                            <option value="2" class="form-control">Femenino</option>
                        </select>
                    </div>
                    <div class="form-group col-md-offset-4 col-md-4 col-md-offset-4 animated fadeInDown">
                        <!--<input type="file" name="signupavatar" id="signupavatar" class="signupavatar" />
                        <label for="signupavatar">Choose a file</label>-->
                        <input id="picFile" type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" title="Cambiar foto de perfil">
                        <i ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>

                        <!--<input type="submit" class="sign-up-button btn btn-border btn-lg col-md-offset-3 col-md-6 col-md-offset-3 animated fadeInUp"
                            ng-click="submitClick()" value="Regístrate">-->
                        <!--<input type="submit" class="sign-up-button btn btn-border btn-lg col-md-offset-3 col-md-6 col-md-offset-3 animated fadeInUp"
                            ng-click="submitClick()" value="Regístrate" ng-click="uploadPic(picFile)">-->

                        <button ng-click="uploadPic(picFile)">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>