<section>
<div class="col-md-8 ">
            <div class="row verprofile-content">
                <div>
                    <div class="col-md-6">
                        <img class="perfilImage img-responsive" src="assets/img/users/kitten.jpg" />
                    </div>
                    
                    <div class="col-md-6 homeText">
                        <p class="perfilTitle">Carolina Avelar</p>
                        <hr class="separadorPosts">
                        <a href="#" class="siguiendo activeS">Siguiendo</a>
                        <span class="spanSeparador">|</span>
                        <a href="seguidores.html" class="seguidores">Seguidores</a>
                    </div>   
                </div>
            </div>

            <div class="row seguidoresprofile-content">
                <div >
                    <center>
                    <div class="col-md-12">
                        <table>
                            <tr>
                            <td>
                                <img class="homeUsersIcon img-responsive" src="assets/img/users/otter.jpg"/> 
                                    <p class="homeUsersname espacioseguidres">Alan Martínez</p>
                            </td>
                            <td>
                                <img class="homeUsersIcon img-responsive" src="assets/img/users/puppy.jpg"/> 
                                    <p class="homeUsersname espacioseguidres">Marco Cantú</p>
                            </td>
                            <td>
                                 <img class="homeUsersIcon img-responsive" src="assets/img/users/giraffe.jpg"/> 
                                    <p class="homeUsersname espacioseguidres">Mónica Morales</p>
                            </td>
                            </tr>
                            
                            <tr>
                            <td>
                                <img class="homeUsersIcon img-responsive" src="assets/img/users/cheetah.jpg"/> 
                                    <p class="homeUsersname espacioseguidres">Paola López</p>
                            </td>
                            <td>
                                <img class="homeUsersIcon img-responsive" src="assets/img/users/pizza.jpg"/> 
                                    <p class="homeUsersname espacioseguidres">SadPizza</p>
                            </td>
                            <td>
                                 <img class="homeUsersIcon img-responsive" src="assets/img/users/chocorrol.png"/> 
                                    <p class="homeUsersname espacioseguidres">Chocofan</p>
                            </td>
                            </tr>
                            
                            <tr>
                            <td>
                                <img class="homeUsersIcon img-responsive" src="assets/img/users/heman.jpg"/> 
                                    <p class="homeUsersname espacioseguidres">omelette du fromage</p>
                            </td>
                            <td>
                                <img class="homeUsersIcon img-responsive" src="assets/img/users/link.jpg"/> 
                                    <p class="homeUsersname espacioseguidres">MasterChef1</p>
                            </td>
                            <td>
                                 <img class="homeUsersIcon img-responsive" src="assets/img/users/emoji.png"/> 
                                    <p class="homeUsersname espacioseguidres">Cassandra Perea</p>
                            </td>
                            </tr>
                        </table>
                    </div>
                    </center>
                </div>
            </div>

            

            
            

        </div>
</section>