<section ng-controller="otroPerfilController">
    <div class="col-md-8 ">
        <div class="row verprofile-content">
            <div>
                <div class="col-md-6">
                    <img class="perfilImage img-responsive" ng-src="img/usuarios/{{usuario.avatar}}" />
                </div>

                <div class="col-md-6 homeText">
                    <p class="perfilTitle">{{ usuario.name }}</p>
                    <hr class="separadorPosts">
                </div>
            </div>
        </div>

        <div class="row" ng-repeat="post in post">
            <div class="profile-content">
                <div class="col-md-12">
                    <a href="#"><i class="fa fa-heart-o fa-2x"></i></a>
                </div>

                <div class="col-md-6">
                    <img class="homeImgPost img-responsive" ng-src="img/publicaciones/{{post.image}}" />
                </div>

                <div class="col-md-6 homeText">
                    <p class="homeTitle">{{post.title}}</p>
                    <hr class="separadorPosts">
                    <img class="homeUsersIcon img-responsive" ng-src="img/usuarios/{{usuario.avatar}}" />
                    <p class="homeUsersname">{{ usuario.name }}</p>
                    <p class="homeDescription">{{post.description}} </p>
                </div>

                <div class="col-md-12 homeDatePost">
                    <p class="">{{post.created_at}} </p>
                </div>

                <div class="col-md-12 homeMoreInformation">
                    <a href="#" class="homeMoreInformationLink">Más información</a>
                </div>
            </div>
        </div>
        
    </div>
</section>