<section>
<div class="col-md-8 postBackground">
            <div class="row">
                <div class="profile-content">
                    <div class="col-md-6">
                        <a href="#" ><i class="fa fa-heart-o fa-2x"></i></a>
                     </div>
                    
                    <div class="col-md-6">
                        <a href="editarpost.html" class="postEditar">Editar</a>
                        <a href="home.html" class="postCross"><i class="fa fa-times fa-2x"></i></a>
                    </div>
                   
                    <div class="col-md-12">
                            <img class="center-block imgPost img-responsive " src="assets/img/posts/food3.jpg" />
                       
                    </div>
                    
                    <div class="col-md-12 homeText">
                        <p class="homeTitlePost">Tortitas de papa y queso</p>
                        <hr class="separadorPosts">
                                <img class="homeUsersIcon img-responsive" src="assets/img/users/kitten.jpg"/> 
                                    <p class="homeUsersname">Carolina Avelar</p>
                        <p class="homeDescription">
                            Deliciosas tortitas empanizadas, rellenas de papa y queso, así como también especias que le dan un sabor único.
                        </p>
                        <p class="postIngredientes">
                            Ingredientes: Harina para empanizar, 4 papas, 200 gramos de queso manchego, 1/2 taza de leche, 1 cucharada de mantequilla, 1 huevo, sal y pimienta.
                        </p>
                        <p class="postProcedimiento">
                            Procedimiento: Aplastar las papas hasta que no se vean trozos grandes de papa. Tomamos un recipiente y quebramos el huevo (retiramos la cáscara), agregamos la 1/2 taza de leche y mezclamos. Con nuestras manos hacemos bolitas o tortitas con la masa de papa, las hundimos en la mezcla de leche y huevo, las cubrimos de queso y luego las empanizamos. Ponemos la cucharada de mantequilla en el sartén y una vez derretida colocamos las tortitas en el sartén para dorarlas. 
                        </p>
                    </div>                        
                    
                    <div class="col-md-12">
                        <p class="datePost">Fecha 4/13/2017</p>
                    </div>
                    
                    <div class="col-md-12 agregarComentario">
                        <form>
                            <p id="ComentariosPost">Comentarios</p>
                            <center>
                                <textarea class="form-control" cols="5" rows="5" id="comentarioTextarea" maxlength="250" placeholder="Escribe tu comentario"></textarea> 
                            </center>
                            <input type="submit" id="publicarComentario" value="Comentar"/>
                        </form>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="col-md-12 comentarioBlock">                            
                                <img class="homeUsersIcon img-responsive" src="assets/img/users/kitten.jpg"/> 
                                <p class="homeUsersname">Carolina Avelar</p>    
                                <p class="dateComentario">Fecha 4/13/2017 02:34pm</p>
                                <p class="comentarioPublicado">¡Excelente receta! Me encantó ¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó</p>
                        </div>
                        
                        <div class="col-md-12 comentarioBlock">                            
                                <img class="homeUsersIcon img-responsive" src="assets/img/users/kitten.jpg"/> 
                                <p class="homeUsersname">Carolina Avelar</p>    
                                <p class="dateComentario">Fecha 4/13/2017 02:34pm</p>
                                <p class="comentarioPublicado">¡Excelente receta! Me encantó ¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó¡Excelente receta! Me encantó</p>
                        </div>
                        
                        <div class="col-md-12 comentariosBotones">
                            <footer class="container-fluid text-center">    
                                <a href="#" class="comentariosPageButtons">Anterior</a>
                                <a href="#" class="comentariosPageButtons">Siguiente</a>
                            <!-- <span class="glyphicon glyphicon-chevron-up"></span> -->  
                            </footer>
                        </div>
                     </div>   
                        
                </div>
            </div>
      
            
            

        </div>
</section>