 <div class="homeFiltros" id="homeFiltros">
        <form class="homeFiltrosForm" id="formFiltros">
        <input type="date" class="homeFiltrosInputDate" id="formFiltrosDateInit"/>
        <span class="homeFiltrosSpanA">a</span>
        <input type="date" class="homeFiltrosInputDate" id="formFiltrosDateFinal"/>
        <span class="homeFiltrosSpan">Título</span>
        <input type="checkbox" id="formFiltrosCheckboxTitulo"/>
        <span class="homeFiltrosSpan">Usuario</span>
        <input type="checkbox" id="formFiltrosCheckboxUsuario"/>
        
        <input type="button" value="Filtrar" id="formFiltrosButton"/>
        </form>
</div>