<section id="bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-3 col-xs-12">
                <h3>Estámos para servirte</h3>
                <ul>
                    <li>Comunícate a nuestro correo o teléfono
                    </li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12">
                <h3>Correo</h3>
                <ul>
                    <li>foodylicious@gmail.com
                    </li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12">
                <h3>Teléfono</h3>
                <ul>
                    <li>(52) 83-76-12-09
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>