<div class="logo-menu" ng-controller="headerController">
    <nav class="navbar navbar-default " >
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header col-md-3">
          
          <a class="navbar-brand" href="/home#/"><i class="fa fa-cutlery"></i> Foodylicious</a>
        </div>

        <div id="navbar">
          <ul class="nav navbar-nav pull-right">
            <li><input type="text" class="homeSearch"/>
            </li> 
            <li>
                <a href="" id="botonBuscar" ng-click="buscarClick()"><i class="fa fa-search"></i> Buscar</a>
            </li>            
          </ul>
        </div>
      </div>
    </nav>
  </div>

