<div class="col-md-3 " ng-controller="sidebarController">
	<div class="profile-sidebar">

		<!-- SIDEBAR USERPIC -->
		<div class="profile-userpic">
			<img ng-src="img/usuarios/{{usuario.avatar}}" class="img-responsive" alt="user">
		</div>
		<!-- END SIDEBAR USERPIC -->

		<!-- SIDEBAR USER TITLE -->
		<div class="profile-usertitle">
			<div class="profile-usertitle-name">
				<p>{{usuario.name}}</p>
			</div>
			<hr class="separador" />

		</div>
		<!-- END SIDEBAR USER TITLE -->

		<!-- SIDEBAR MENU -->
		<div class="profile-usermenu">
			<ul class="nav">
				<li class="active">
					<a href="#home">
							<i class="fa fa-home"></i>
							Inicio </a>
				</li>
				<li>
					<a href="#publicar-receta">
							<i class="fa fa-pencil-square-o"></i>
							Publicar receta </a>
				</li>
				<li>
					<a href="#mi-perfil">
							<i class="fa fa-user"></i>
							Mi perfil </a>
				</li>
				<li>
					<a href="#favoritos">
							<i class="fa fa-heart"></i>
							Favoritos </a>
				</li>
				<li>
					<a href="#editar-perfil">
							<i class="fa fa-cog"></i>
							Editar perfil </a>
				</li>
				<li>
					<a href="/">
							<i class="fa fa-sign-out"></i>
							Cerrar sesión </a>
				</li>
			</ul>
		</div>
	</div>
</div>